<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>API Access</span>
    </div>
    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Access Token</label>
      </div>
      <div class="col-md-4">
          {{input type="text"
            class="form-control"
            placeholder="Access Token"
            value=model.%%DRIVERNAME%%Config.accessToken
          }}
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>Instance</span>
    </div>
    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Plan</label>&nbsp;(<a href="https://developers.vscale.io/documentation/api/v1/#api-Background-GetImages">details</a>)
      </div>
      <div class="col-md-4">
        {{input type="text"
          class="form-control"
          placeholder="Specify required plan(small,medium,large,huge,monster)"
          value=model.%%DRIVERNAME%%Config.rplan
        }}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">Location</label>&nbsp;(<a href="https://developers.vscale.io/documentation/api/v1/#api-Background-GetImages">details</a>)
      </div>
      <div class="col-md-4">
        {{input type="text"
          class="form-control"
          placeholder="Specify the location (spb0,msk0)"
          value=model.%%DRIVERNAME%%Config.location
        }}
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Image</label>&nbsp;(<a href="https://developers.vscale.io/documentation/api/v1/#api-Background-GetImages">details</a>)
      </div>
      <div class="col-md-4">
          {{input type="text"
            class="form-control"
            placeholder="Specify the image"
            value=model.%%DRIVERNAME%%Config.madeFrom
          }}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">Swap</label>
      </div>
      <div class="col-md-4">
          {{input type="text"
            class="form-control"
            placeholder="Swap file size in MB"
            value=model.%%DRIVERNAME%%Config.swapFile
          }}
      </div>
    </div>

    {{!-- This partial contains the Labels and Advanced Options fields --}}
    {{partial "host/add-options"}}
  </div>

  {{!-- This component shows errors produced by validate() in the component --}}
  {{top-errors errors=errors}}

  {{!-- This component shows the Create and Cancel buttons --}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
